body {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #F2F2F2;
    font-family: 'Roboto-Medium';
}
/*              -------------------------------------------------                COMMON CLASSES              ------------------------------------------------------------------------------*/

.strong {
    font-weight: 700;
}
.hide {
    display: none;
}




/*              -------------------------------------------------                NAVBAR              ------------------------------------------------------------------------------*/
header {
    background-color: #fff;
    padding: .5rem 8rem .5rem 11rem !important;
    height: 4rem;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}

.navbar__company-link {
    max-width: 200px;
    max-height: 36px;
    overflow: hidden;
}
.navbar__company-link img {
    display: block;
    width: auto;
    max-height: 36px;
}

.navbar__company-link:hover {
    text-decoration: none;
}

.navbar__user-link {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    cursor: pointer;
}
.navbar__user-link img {
    width: 100%;
    display: block;
}

/*              -------------------------------------------------                SIDEBAR              ------------------------------------------------------------------------------*/
.sidebar__logo {
    display: block;
    text-decoration: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0D71E3;
    width: 4rem;
    height: 4rem;
    background-image: url(../images/global/logo.svg);
    background-position: center center;
    -webkit-background-size: 2rem;
    background-size: 2rem;
    background-repeat: no-repeat;
}

.sidebar__logo:hover {
    text-decoration: none;
}

.sidebar {
    background-color: #021224;
    width: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 90000000;
}

.sidebar__link {
    display: block;
    margin: 2rem 0;
    background-position: center center;
    -webkit-background-size: 3rem;
    background-size: 3rem;
    background-repeat: no-repeat;
    width: 4rem;
    height: 3rem;
    cursor: pointer;
}

.sidebar__link-influencers {
    background-image: url(../images/global/influencers_notselected.svg);
    margin-top: 7rem;
}
.sidebar__link-influencers_active {
    background-image: url(../images/global/influencers_selected.svg);
    margin-top: 7rem;
}
.sidebar__link-influencers:hover {
    background-image: url(../images/global/influencers_selected.svg);
    margin-top: 7rem;
}

.sidebar__link-campaign {
    background-image: url(../images/global/campaign_notselected.svg);
}
.sidebar__link-campaign_active {
    background-image: url(../images/global/campaign_selected.svg);
}
.sidebar__link-campaign:hover {
    background-image: url(../images/global/campaign_selected.svg);
}

.sidebar__link-finance {
    background-image: url(../images/global/finance_notselected.svg);
}
.sidebar__link-finance_active {
    background-image: url(../images/global/finance_selected.svg);
}
.sidebar__link-finance:hover {
    background-image: url(../images/global/finance_selected.svg);
}

.sidebar__link-settings {
    background-image: url(../images/global/settings__notselected.svg);
    margin-top: 20rem;
}
.sidebar__link-settings_active {
    background-image: url(../images/global/settings_selected.svg);
    margin-top: 20rem;
}
.sidebar__link-settings:hover {
    background-image: url(../images/global/settings_selected.svg);
    margin-top: 20rem;
}

.sidebar__link-help {
    background-image: url(../images/global/help_notselected.svg);
}
.sidebar__link-help_active {
    background-image: url(../images/global/help_selected.svg);
}
.sidebar__link-help:hover {
    background-image: url(../images/global/help_selected.svg);
}




/*              -------------------------------------------------                INPUT              ------------------------------------------------------------------------------*/

.wrapper input {
    border: none;
    border-bottom: 2px solid #DCDCDC;
    width: 100%;
    border-radius: 0;
    padding-right: 85px;
}
.wrapper input:focus {
    border: none;
    border-bottom: 2px solid #0D71E3 !important;
    width: 100%;
    outline: none;
    box-shadow: none;
}
.wrapper input:hover {
    border: none;
    border-bottom: 2px solid #000000;
    width: 100%;
}
.wrapper .input-error {
    border: none;
    border-bottom: 2px solid #E32F00 !important;
    width: 100%;
}
.wrapper input:hover ~ .wrapper__nav-info_account-item {
    color: #0D71E3;
}


/*              -------------------------------------------------                MODAL              ------------------------------------------------------------------------------*/



.modal-button {
    font-size: 18px;
    padding: 4px 18px;
    background-color: #0D71E3;
    color: white;
    text-align: center;
    border-radius: 30px;
    margin: .5rem .5rem .5rem 0;
}
.modal-header-group {
    border-bottom: none;
}
.modal-footer-group {
    border-top: none;
 }

.modal {
    text-align: center;
    padding: 0!important;
}
.add-group-wrapper {
    height: 52px;
    width: 52px;
    line-height: 52px;
    color: #B3B3B3;
    font-size: 25px;
    text-align: center;
    border-radius: 50%;
    background-color: #DCDCDC;
    cursor: pointer;
}
.add-group-wrapper:hover {
    background-color: black;
    color: white;
}

/*              -------------------------------------------------                BUTTON              ------------------------------------------------------------------------------*/



.main-button {
    font-size: 18px;
    padding: 4px 18px;
    background-color: #0D71E3;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 30px;
    margin: .5rem .5rem .5rem 0;
}
.main-button:hover {
    color: #0D71E3 !important;
    background-color: white;
    border: 1px solid #0D71E3;
}
.main-button:active {
    color: white !important;
    background-color: #005DC8 !important;
}
.green-block {
    display: inline-block;

}
.green-block .main-button {
    text-transform: none;
}
.green-block .main-button:hover {
    background-color: #fff !important;
    border: 1px solid #009440 !important;
    color: #009440 !important;
    text-transform: none !important;
}
.green-block .main-button:active {
    background-color: #007E37 !important;
    border: 1px solid #007E37 !important;
    color: white !important;
    text-transform: none !important;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0 0.5rem;
    height: 50px;
    line-height: 50px;
    clear: both;
    font-weight: 400;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    color: #0D71E3;
    font-family: 'Roboto-Regular';
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
}
.main-button-passive:hover {
    background-color: #DCDCDC !important;
    color: #F2F2F2 !important;
    padding: 4px 36px;
    cursor: not-allowed;
    border: 1px solid #DCDCDC;
}
.main-button-passive {
    margin: .5rem 0;
}
/*.wrapper__nav-info_campaigns-btn {*/
/*    background-color: #F2F2F2;*/
/*    padding: 4px 18px;*/
/*    text-align: center;*/
/*    color: #0D71E3;*/
/*    border-radius: 30px;*/
/*    display: block;*/
/*    margin: .5rem .5rem .5rem 0;*/
/*    width: max-content;*/
/*    font-size: 18px;*/

/*}*/
/*.wrapper__nav-info_campaigns-btn:hover {*/
/*    color: #0D71E3;*/
/*    cursor: text !important;*/
/*}*/
/*.wrapper__nav-info_campaigns-influensers:hover {*/
/*    color: black !important;*/
/*}*/

/*.wrapper__nav-info_campaigns-icon {*/
/*    background-position: center center;*/
/*    background-repeat: no-repeat;*/
/*    background-image: url(../images/global/inf-icon.svg);*/
/*    width: 11px;*/
/*    height: 16px;*/
/*    display: inline-block;*/

/*}*/
/*.wrapper__nav-info_campaigns-influensers {*/
/*    font-size: 18px;*/
/*    color: black;*/
/*    font-family: 'Roboto-Light';*/
/*    cursor: text;*/
/*}*/

/*              -------------------------------------------------                MAIN-WRAPPER              ------------------------------------------------------------------------------*/

.wrapper {
    padding: 5rem 8rem 3rem 11rem;
    position: relative;
}
/*.wrapper {*/
/*    padding: 9rem 8rem 3rem 11rem;*/
/*    position: relative;*/
/*}*/

.wrapper__main-title {
    width: 100%;
    border-bottom: 2px solid black;
    text-transform: uppercase;
    display: block;
    font-size: 30px;
    height: 3rem;
    font-family: 'Roboto-Medium';
}

.wrapper__nav-block {
    margin-top: 22px;
}

.wrapper__nav {
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    background-color: white;
    text-transform: uppercase;
}

.wrapper__nav-item {
    font-size: 20px;
    color: black;
    text-transform: uppercase;
    width: 100%;
    height: 25%;
    line-height: 85px;
    padding: 0 1.5rem;
    font-family: 'Roboto-Medium';
    cursor: pointer;
}

.wrapper__nav-item_active {
    border-left: .5rem solid #0D71E3;
    color: #0D71E3;
    padding: 0 1rem;
}

.wrapper__nav-info {
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    background-color: white;
    padding: 1rem 2rem 2rem;
}

.nav-info-main-title {
    font-size: 30px;
    color: #0D71E3;
    display: block;
    text-transform: uppercase;
}
.wrapper__nav-item_active:first-child {
    border-top-left-radius: 10px;
}
.wrapper__nav-item_active:last-child {
    border-bottom-left-radius: 10px;
}
.wrapper select {
    cursor: pointer;
}

.wrapper__nav-info_agency-block {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: auto;
    line-height: 48px;
    margin-bottom: 1rem;
    -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.16);
    font-family: 'Roboto-Regular';
    background-color: #fff;
    font-size: 13px;
    position: relative;
}

/*              -------------------------------------------------                CAMPAIGN-TOP-SELECTION-BLOCK              ------------------------------------------------------------------------------*/

.top-selection-block {
    width: 100%;
    height: 5rem;
    background-color: #fff;
    margin-top: 4rem;
    border-top: 1px solid #E9E9F0;
    border-bottom: 1px solid #E9E9F0;
    padding-left: 11rem;
    padding-right: 8rem;
    font-size: 18px;
    font-family: 'Roboto-Medium';
    position: fixed;
    z-index: 1000;
    top: 0;
}

.top-selection-list {
    color: #8E8E8E;
}

.top-selection-item {
    margin-right: 38px;
    cursor: pointer;
    text-decoration: none;
    color: #8E8E8E;
}
.top-selection-item:hover {
    border-bottom: 3px solid #0D71E3;
    padding-bottom: 26px;
    color: #0D71E3;
    text-decoration: none;
}

.top-selection-item_active {
    border-bottom: 3px solid #0D71E3;
    padding-bottom: 26px;
    color: #0D71E3;
}
.sub-campaign-title {
    font-size: 13px;
    display: block;
    font-family: 'Roboto-Regular';
    padding-bottom: 22px;
}

.top-brier-selection-item {
    margin-right: 53px;
    font-size: 18px;
    cursor: pointer;
    color: black;
}
.top-brier-selection-item:hover {
    border-bottom: 3px solid #0D71E3;
    padding-bottom: 11px;
    color: #0D71E3;
    text-decoration: none;
}

/*.top-brier-selection-item:first-child {*/
/*margin-left: 1rem;*/
/*}*/

.top-selection-brief-item_active {
    border-bottom: 3px solid #0D71E3;
    padding-bottom: 11px;
    color: #0D71E3;
}
.wrapper__main-title-passive {
    color: #B3B3B3;
    cursor: pointer;
    text-decoration: none;
}
.wrapper__main-title-passive:hover {
    color: #0D71E3 !important;
    text-decoration: none;
}

/*              -------------------------------------------------                CAMPAIGN-BLOCK              ------------------------------------------------------------------------------*/


.campaign-title-block {
    margin: 10px auto 22px;
    width: max-content;
    display: flex;
    align-items: center;
    font-size: 30px;
    color: black;
    font-family: 'Roboto-Medium';
    text-align: center;
}

.campaign-logo-img {
    width: auto;
    max-height: 28px;
    display: inline-block;
    margin-right: 12px;
}

.campaign-logo-img img {
    width: auto;
    max-height: 28px;
    display: block;
}
.nav-info-sub-title {
    font-size: 13px;
    color: #4D4F5C;
}

.post-item {
    height: 338px;
    background-color: #F2F2F2;
    font-size: 33px;
    color: #B3B3B3;
    border-radius: 10px;
    margin-top: 8px;
    text-align: center;
    line-height: 338px;
cursor: pointer;
}
.campaign-select  {
    border-radius: 30px;
    border: 2px solid #B3B3B3;
    margin-top: 29px;
    padding: 7px 18px;
}







.summary-info-wrapper ul {
    padding-left: 0;
    list-style: none;
    overflow: hidden;
}
.campaign-title-block {
    margin: 0;
}
.summary-title {
    font-family: 'Roboto-Medium';
    font-size: 22px;
    margin-top: 7px;
    display: block;
}
.summary-sub-title {
    font-size: 13px;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    color: #666666;
    display: block;
    margin-top: 18px;
}
.campaign-network-select-block {
    margin-top: 8px;
    padding-left: 0;
}
.campaign-network-select-item {
    margin-right: 18px;
    float: left;
    outline: none;
}
.campaign-network-select-item span {
    font-size: 16px;
    font-family: 'Roboto-Regular';
    color: #000;
}
.tag-item {
    font-family: 'Roboto-Regular';
    font-size: 15px;
    padding: 3px 12px;
    border-radius: 30px;
    margin-right: 8px;
    margin-bottom: 10px;
    color: #ffffff;
    float: left;
    outline: none;
    cursor: pointer;

}

.tag-item i {
    color: #ffffff;
    font-size: 15px;
    margin-left: 5px;
    position: relative;
    top: 1px;
}
.summary-amount {
    font-size: 36px;
    font-family: 'Roboto-Medium';
}
.amount-sub {
    font-size: 16px;
    text-transform: uppercase;
}
.amount-sub-title {
    font-size: 12px;
    font-family: 'Roboto-Bold';
    text-transform: uppercase;
    position: relative;
    bottom: 3px;
}

/*              -------------------------------------------------                ICONS              ------------------------------------------------------------------------------*/



/*.facebook-icon {*/
    /*font-size: 18px;*/
    /*color: #3B5998;*/
/*}*/
/*.instagram-icon {*/
    /*font-size: 18px;*/
    /*color: #FB3958;*/
/*}*/


.same-styled-icon-block span {
    font-size: 17px;
}
.same-styled-icon-block i {
    font-size: 14px;
    color: #0D71E3;
}







/*              -------------------------------------------------                CAMPAIGN-TEXT              ------------------------------------------------------------------------------*/

.campaign-text  {
    font-size: 18px;
    font-family: 'Roboto-Regular';
    line-height: 32px;
    margin-top: 2rem;
}
.campaign-text h1,
.campaign-text h2 {
    font-family: 'Roboto-Bold';
    font-size: 20px;
}


.campaign-text a {
    color: #0D71E3;
    text-decoration: none;
}

.campaign-text a:hover {
    color: #0D71E3;
    text-decoration: none;
}
.campaign-text ul {
    margin-bottom: 15px;
    list-style: none;
    color: black;
}

.campaign-text p {
    margin: 15px 0;
}


/*              -------------------------------------------------                   COLORS             ------------------------------------------------------------------------------*/

.green {
    background-color: #009440;
}
.purple {
    background-color: #793D87;
}
.lightblue {
    background-color: #2795B8;
}
.blue {
    background-color: #0D71E3;
}
.deeppink {
    background-color: #DC1A42;
}
.dark-gray {
    background-color: #4D4F5C;
}
.text-blue {
    color: #0D71E3;
}
.text-gray {
    color: #666666;
}
.music-interest {
    background-color: #EB532C;
}
.yoga-interest {
    background-color: #FCAA3E;
}
.business-interest {
    background-color: #093261;
}
.books-interest {
    background-color: #3B2C9F;
}
.tourism-interest {
    background-color: #2795B8;
}
.family-interest {
    background-color: #FF5DE4;
}
.food-interest {
    background-color: #249508;
}
.healthy-life-interest {
    background-color: #3EB796;
}
.beauty-interest {
    background-color: #C22CE5;
}
.movies-interest {
    background-color: #6BC900;
}
.luxury-interest {
    background-color: #750091;
}
.entertainment-interest {
    background-color: #DC1A42;
}
.sports-interest {
    background-color: #BC0000;
}

/*              -------------------------------------------------                   DROPDOWN             ------------------------------------------------------------------------------*/


.dropdown-item {
    color: black;
    font-size: 15px;
    padding: 0 1rem;
}
.dropdown-item i {
    margin-right: 5px;
}
.dropdown-item:hover {
    background-color: #0D71E3;
    color: #ffffff;
}
.dropdown-menu {
    padding: 0;
}
.dropdown-item:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dropdown-item:first-child:hover {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.dropdown-item:last-child:hover {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dropdown-toggle::after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: none;
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

/*              -------------------------------------------------                   INFLUENCERS             ------------------------------------------------------------------------------*/

@media only screen and (min-width: 1366px) and (max-width: 1680px) {

    .top-selection-block {
        margin-top: 60px;
    }

    .sidebar__logo {

        width: 60px;
        height: 60px;

    }

    .sidebar {
        width: 60px;

    }

    .sidebar__link {

        width: 60px;

    }
    .navbar__menu {
        height: 60px !important;
        line-height: 60px !important;
    }
    header {
        height: 60px;
    }
    .inf-search {
        border-bottom: none;
    }
}

